/* Nav Bar Styling */
ul {
    background-color: teal;
}

.brand-logo {
    background-color: teal;
}

.nav-wrapper {
    background-color: teal;
}
.name{
  margin-left: 15px;
}

.title h2 {
  font-size: 2.80rem;
  color: teal;
  margin-left: 30px;
}


/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}


/* Footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#666666;
  color: white;
  text-align: center;
  }
  .footer h3{
  font-size: 1.30rem;
  }